
body {
  max-width: 80%;
  margin: auto;
  padding: 20px;
  line-height: 1.6;
  font-family: Verdana, sans-serif;
  color: #333;
  background-color: #f2f4f8;
}
header {
  background-color: #ffffff;
  padding: 20px;
  border-bottom: 2px solid #dcdcdc;
}

figure img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
  margin: 10px auto;
}


.img-grand { width: 600px; }
.img-moyen { width: 500px; }
.img-petit { width: 300px; }



h1 {
  font-family: Arial, sans-serif;
  color: #1f3c88;
  text-align: center;
  font-size: 36px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
nav {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;

}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #3a5ba0;
  font-weight: bold;
}

nav a:hover {
  color: #4a90e2;
  text-decoration: underline;
 }
main {
  background-color: white;
  padding: 20px;
}

section {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding:0;
  width: 100%;
}

article {
  margin-bottom: 20px;
}

h2 {
  color: #1f3c88;
  font-family: Arial, sans-serif;
}
h3 {
  font-family: Arial, sans-serif;
  color: #1f3c88;
  font-style: italic;
}

figure {
  text-align: center;
  margin: 20px 0;
}

figcaption {
  font-size: 10pt;
  color: rgb(114, 113, 113);
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}
th{
  background-color: #eee;
  border: 1px solid black;
  padding: 8px 10px;
}
td {
  border: 1px solid black;
  padding: 8px 10px;
}

strong {
  color: red;
}
.terminal {
  background-color: #222;
  color: #0f0;
  padding: 20px;
  border-radius: 5px;
  font-family: 'Courier New', monospace;
  border-left: 5px solid #0a0;
  white-space: pre-wrap;
  word-wrap: break-word;

}

#bas-de-page {
  background-color: #f7e0d0;

  padding: 10px;
}

.important {
  color: red;
  font-weight: bold;
}
strong.jaune {
  color: #ffcc00;
}

h2.special {
  border-bottom: 2px solid navy;
}